.banner {
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 300px;

    h1 {
        color: rgb(60, 255, 0);
        text-align: center;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-size: 44px;
        font-weight: bold;
    }
    p {
        font-size: 24px;
        color: rgb(60, 255, 0);
        text-align: center;
        opacity: .7;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-weight: bold;
    }
}